@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.title-text {
  @apply text-8xl font-hubot text-slate-300;
}

.northern-aurora {
  @apply min-h-screen w-full relative bg-black;

  background:
    radial-gradient(ellipse 70% 55% at 50% 50%, rgba(140, 50, 50, 0.15), transparent 50%),
    radial-gradient(ellipse 160% 130% at 10% 10%, rgba(117, 104, 161, 0.12), transparent 60%),
    radial-gradient(ellipse 160% 130% at 90% 90%, rgba(138, 43, 226, 0.18), transparent 65%),
    radial-gradient(ellipse 110% 50% at 80% 30%, rgba(255, 215, 0, 0.08), transparent 40%),
    #4a4a50;
}
