@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.title-text {
  @apply text-6xl font-hubot text-slate-300;
}

.heading1-text {
  @apply text-3xl font-hubot text-slate-300
}

.heading2-text {
  @apply text-xl font-hubot text-slate-300
}
.heading3-text {
  @apply text-lg font-hubot text-slate-300
}

.sub-text {
  @apply text-base font-hubot text-slate-300
}
.sub2-text{
  @apply text-s font-hubot text-slate-300
}
@layer base {
  html {
    @apply min-h-full bg-fixed bg-no-repeat bg-cover
      bg-gradient-to-b from-[#000000] via-[#0a0000] to-[#ee3333];
  }
}

.northern-aurora {
  @apply min-h-screen w-full;
}

.events-container {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    margin-left: -450px;
}

.event-box {
    flex: 1;
    max-width: 200px;
    background: rgba(237, 88, 88, 0.55);
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #f4abab;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.event-box h2 {
    text-align: center;
    text-shadow: 2px 3px 0 #000;
    color: #f47575;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.event-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.event-box li {
    margin-bottom: 15px;
}

.event-box a {
    display: block;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: 1px 2px 0 #000;
    transition: 0.2s;
}

.event-box a:hover {
    color: red;
}

.event-box p {
    color: #f79191;
    text-shadow: 1px 2px 0 #000;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

