{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<style>
  .form-container { width: 300px; }
  input {
    width: 100%; padding: 8px; margin-bottom: 10px;
    border: 1px solid #ccc; border-radius: 5px;
  }
  button {
    width: 100%; padding: 10px; background: #4f46e5;
    color: white; border: none; border-radius: 5px; cursor: pointer;
  }
  button:hover { background: #990000; }
</style>
<div class="flex justify-between items-start px-20 py- -2">
  <div class="w-1/2 flex items-center pl-20">
    <div>
      <h1 class="text-5xl leading-snug title-text"
          style= "text-shadow:2px 5px 0 #000;">
        SPARTAN SPACE
      </h1>

      <p class="text-gray-300 sub-text"
         style= "text-shadow:2px 1px 0 #000;">
        "ALWAYS THERE FOR YOUR EVENTS SPACE"
      </p>
    </div>
  </div>
  <div class="form-container">
  <h2 class="heading2-text" >Login</h2>
  <form method="post">
    {% csrf_token %}

    
      <label class="sub-text" for="{{ form.username.id_for_label }}">SR-Code:</label>
      {{ form.username }}
      {% if form.username.errors %}
        <div class="error">{{ form.username.errors }}</div>
      {% endif %}
    

    
      <label class="sub-text" for="{{ form.password.id_for_label }}">Password:</label>
      {{ form.password }}
      {% if form.password.errors %}
        <div class="error">{{ form.password.errors }}</div>
      {% endif %}
    

    <button class="bg-gray-300 px-9 py-3 rounded-md capitalize font-bold hover:opacity-80 ease-in duration-200 text-red-600" type="submit">Login</button>
  </form>
  </div>
</div>
{% endblock %}