<li class="org-node-wrapper">
    <div class="org-node">

        <div class="org-node-header">
            <div class="sub-text"></div>

            <div class="sub-text">
                <a href="{% url 'profile_view' org.user.username %}"
                   class="org-title sub-text hover:text-red-600 ease-in duration-200">
                    {{ org.organization_name }}
                </a>
            </div>
        </div>

        {% if org.sub_organizations.exists %}
            <ul class="org-children sub-text">
                {% for child in org.sub_organizations.all %}
                    {% include "org_node.html" with org=child %}
                {% endfor %}
            </ul>
        {% endif %}

    </div>
</li>
