{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<!-- Header image -->
{% if org.header_picture %}
    <div>
        <img src="{{ org.header_picture.url }}" alt="Header Image" style="width:80%; height:550px; object-fit:cover;">
    </div>
{% endif %}

<!-- Profile picture -->
{% if org.profile_picture %}
    <img src="{{ org.profile_picture.url }}" alt="Profile Picture" style="width:150px; height:150px; border-radius:50%;">
{% endif %}

<h2>{{ org.organization_name }}</h2>
<p>Username: {{ org.user.username }}</p>
<p>Level: {{ org.organization_level }}</p>
<p>About: {{ org.about }}</p>

{% if request.user != org.user %}
<form action="{% url 'follow_organization' org.user.username %}" method="POST">
    {% csrf_token %}
    {% if request.user in org.followers.all %}
        <button type="submit" class="btn btn-danger">Unfollow</button>
    {% else %}
        <button type="submit" class="btn btn-primary">Follow</button>
    {% endif %}
</form>
{% endif %}




<p>Followers: {{ org.followers.count }}</p>

{% if request.user == org.user %}
  TEST ORG
{% endif %}


{% endblock %}