{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<h2 class="text-xl">{{ student.first_name }} {{ student.last_name }}</h2>
<p>SR-Code: {{ student.user.sr_code }}</p>
<p>Contact: {{ student.contact_number }}</p>
<p>Followed Organizations:</p>
<h3>Organizations I Follow</h3>
<ul class="text-blue-600">
  {% for org in followed_orgs %}
    <li>
      <a class="text-blue-600" href="{% url 'organization_profile' org.id %}">{{ org.organization_name }}</a>
    </li>
  {% empty %}
    <li>You are not following any organizations yet.</li>
  {% endfor %}
</ul>

{% if request.user == student.user %}
  <h1>USER</h1>
{% endif %}

{% endblock %}
