<!-- CTRL SHIFT R -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Tailwind Django Site{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body class="northern-aurora">
        
        {% include 'navbar.html' %}
        
        <main class="container mx-auto px-6 py-8">

        {% block content %}
        <!-- Page content goes here -->
        {% endblock %}
        
        </main>
    </body>
</html>
