{% extends "base.html" %}
{% block title %}Landing{% endblock %}
{% block content %}
<style>
    body {
    margin: 0;
    padding: 0;
  }
  .form-container { 
    width: 300px;
    marigin-top 0; 
    margin-left: auto;
    margin-right: auto;}

  input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black !important;   /* <-- FIX */
  }

  button {
    width: 100%;
    padding: 10px;
    background: #e54646ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover { background: #990000; }
</style>
<div class="org-chart-container">
    <h2 class = " heading1-text text-sm leading-6" >Events From Organizations You Follow</h2>

    <form method="GET">


        <label class = "heading2-text" >Status</label>
        <select class = "sub-text" name="status">
            <option value="all" {% if status_filter == "all" %}selected{% endif %}>All</option>
            <option value="future" {% if status_filter == "future" %}selected{% endif %}>Future Events</option>
            <option value="ongoing" {% if status_filter == "ongoing" %}selected{% endif %}>Ongoing Events</option>
            <option value="finished" {% if status_filter == "finished" %}selected{% endif %}>Finished Events</option>
        </select>

        <label class = "heading2-text">Sort by Date:</label>
        <select class = "sub-text" name="sort">
            <option value="asc" {% if sort_filter == "asc" %}selected{% endif %}>Ascending</option>
            <option value="desc" {% if sort_filter == "desc" %}selected{% endif %}>Descending</option>
        </select>

        <br><br>
        <button class="bg-gray-300 px-9 py-3 rounded-md capitalize font-bold hover:opacity-80 ease-in duration-200 text-red-600" class="border border-blue-500 py-2 px-4 rounded"type="submit">Apply Filters</button>
    </form>

    <br>
    <hr>
    <div class ="event-box">
        <h3 class = "heading2-text">Results</h3>
        <ul>
        {% for event in events %}
            <li class = "sub-text">
                <a href="{% url 'event_detail' username=event.organization.user.username event_id=event.id %}">
                    {{ event.event_name }}
                </a>
                — {{ event.start_datetime|date:"M d, Y H:i" }}
            </li>
        {% empty %}
            <p class = "sub-text">No events found.</p>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
