<nav class="w-full px-6 py-3 flex justify-between items-center shadow-lg shadow-red-700 bg-black">
  <div>
    <a href="home">
      <span class="heading2-text">Spartan</span><span class="heading2-text" style="text-red-600">Space</span>
    </a>
  </div>

  <ul class="flex items-center space-x-6">
    
    {% if user.is_authenticated %}
      
      <li><a class= "sub-text hover:text-red-600 ease-in duration-200" href="{% url 'org_tree' %}">Organizations</a></li>

      {% if user.is_organization %}
        <li><a class="sub-text hover:text-red-600 ease-in duration-200 " href="{% url 'profile_view' user.username %}">My Organization</a></li>

      {% elif user.is_superuser %}
        <li><a class="sub-text hover:text-red-600 ease-in duration-200 " href="http://127.0.0.1:8000/admin/">Admin</a></li>

      {% else %}
        <li><a class="sub-text hover:text-red-600 ease-in duration-200 " href="{% url 'landing' %}">Home</a></li>
        <li><a class="sub-text hover:text-red-600 ease-in duration-200 " href="{% url 'profile_view' user.sr_code %}">My Profile</a></li>
      {% endif %}

      <li>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="sub-text hover:text-red-600 ease-in duration-200 ">Logout</button>
        </form>
      </li>

    {% else %}
      <li><a href="{% url 'signup' %}" class="sub-text hover:text-red-600 ease-in duration-200 ">Signup</a></li>
      <li><a href="{% url 'login' %}" class="sub-text hover:text-red-600 ease-in duration-200 ">Login</a></li>

    {% endif %}

  </ul>

</nav>