<nav class="bg-slate-950 shadow-md shadow-slate-900">
    <div class="container mx-auto px-6 py-3 flex justify-between items-center">
        <a href="/" class="text-slate-300 text-xl font-hubot">
        spartan_space
        </a>
        <ul class="flex space-x-6 font-hubot">

            <li><a href="/" class="text-slate-300 hover:text-blue-600">Home</a></li>

        {% if user.is_authenticated %}

        {% if user.is_organization %}
                <li><a class="text-slate-300 hover:text-blue-600" href="{% url 'profile' user.username %}">My Organization</a></li>
        {% else %}
                <li><a class="text-slate-300 hover:text-blue-600" href="{% url 'profile' user.sr_code %}">My Profile</a></li>
        {% endif %}

        <li>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="text-slate-300 hover:text-blue-600">Logout</button>
            </form>
        </li>

        {% else %}

        <li><a href="{% url 'signup' %}" class="text-slate-300 hover:text-blue-600">Signup</a></li>
        <li><a href="{% url 'login' %}" class="text-slate-300 hover:text-blue-600">Login</a></li>

        {% endif %}
        
        </ul>
    </div>
</nav>